<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title class="px-6 py-4 bg-primary">
  <h1 class="title m-0 text-white">{{ unicorn.name || 'Crear unicornio' }}</h1>
  <span fxFlex></span>
  <button mat-dialog-close mat-icon-button type="button" class="text-white"
    aria-label="Example icon-button with a heart icon">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-divider class="mx-6 text-border"></mat-divider>
<mat-dialog-content class="px-6 py-4" fxLayout="row" fxLayoutAlign="start center">
  <mat-card class="w-100">
    <mat-card-content>
      <form class="example-container" #ngForm="ngForm">
        <app-input-data-component [ph]="'Nombre'" [typeInput]="'text'"
          [(val)]="unicorn.name"></app-input-data-component>
        <app-input-data-component [ph]="'Edad'" [typeInput]="'number'" [(val)]="unicorn.age"></app-input-data-component>
        <app-input-data-component [ph]="'Color'" [typeInput]="'text'"
          [(val)]="unicorn.colour"></app-input-data-component>
      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-divider class="mx-6 text-border"></mat-divider>
<mat-dialog-actions aling="end">
  <button mat-button type="button" class="text-primary" (click)="save()">Guardar</button>
  <button mat-button mat-dialog-close type="button" class="text-primary" cdkFocusInitial color="warn">Cancelar</button>
</mat-dialog-actions>
