<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">API Unicorns</h3>
              <h2>Lista de Unicorns de la API de CrudCrud.com - https://crudcrud.com/</h2>
              <a class="btn btn-primary">Nuevo Unicornio</a>
            </div>
            <div class="card-body">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- 'Id',    'FirstName',    'LastName',    'Email',    'Gender',    'JobTitle', -->
                <ng-container matColumnDef="Id">
                  <th mat-header-cell *matHeaderCellDef> Id </th>
                  <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
                </ng-container>
                <ng-container matColumnDef="FirstName">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
                </ng-container>
                <ng-container matColumnDef="LastName">
                  <th mat-header-cell *matHeaderCellDef> Apellido </th>
                  <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
                </ng-container>
                <ng-container matColumnDef="Email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
                </ng-container>
                <ng-container matColumnDef="Gender">
                  <th mat-header-cell *matHeaderCellDef> Gender </th>
                  <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
                </ng-container>
                <ng-container matColumnDef="JobTitle">
                  <th mat-header-cell *matHeaderCellDef> JobTitle </th>
                  <td mat-cell *matCellDef="let element"> {{element.JobTitle}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
